@import "./font.css";

/*버튼 스타일*/
.ButtonStyle {
    font-family:"NotoSansKr-Thin";
	color:#fff;
    width: 120px;
    height: 40px;
	background: grey;
	font-size: 16px;
	border:none;
	border-radius: 10px;
	transition:0.3s;
	position: absolute;
}

/*hover일 때 버튼 스타일*/
.ButtonStyle:hover{
	background: rgba(32,32,32);
	cursor: pointer;
}