.container {
  display: flex;
  flex-direction: row;
  border: 1px solid black;
  padding: 10px;
  align-items: center;
  justify-content: center;
}
.input {
  flex-direction: row;
}
.inputStyle {
  width: 80%;
  padding-left: 10px;

  color: black;
  border: 1px solid grey;
  border-radius: 3%;
  font-size: 16px;
}

.inputStyle:focus {
  outline: #808080 solid 1px;
}

.gridContainer {
  display: grid;
  width: 100%;
  font-family: 'NotoSansKr-Thin';
}
