@font-face {
  font-family: 'NotoSansKr-Thin';
  src: url('../fonts/NotoSansKR-Thin.otf');
}

@font-face {
  font-family: 'NotoSansKr-Medium';
  src: url('../fonts/NotoSansKR-Medium.otf');
}

@font-face {
  font-family: 'NotoSansKr-Bold';
  src: url('../fonts/NotoSansKR-Bold.otf');
}

@font-face {
  font-family: 'DoHyeon-Regular';
  src: url('../fonts/DoHyeon-Regular.ttf');
}
