@font-face {
  font-family: 'DoHyeon';
  font-display: fallback;
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/BMDOHYEON.woff')
    format('woff');
  font-style: normal;
}
@font-face {
  font-family: 'Noto100';
  font-display: fallback;
  src: url('../fonts/noto-sans-kr-v25-korean-100.woff') format('woff');
  font-style: normal;
}
@font-face {
  font-family: 'Noto300';
  font-display: fallback;
  src: url('../fonts/noto-sans-kr-v25-korean-300.woff') format('woff');
  font-style: normal;
}
@font-face {
  font-family: 'Noto500';
  font-display: fallback;
  src: url('../fonts/noto-sans-kr-v25-korean-500.woff') format('woff');
  font-style: normal;
}
@font-face {
  font-family: 'Noto700';
  font-display: fallback;
  src: url('../fonts/noto-sans-kr-v25-korean-700.woff') format('woff');
  font-style: normal;
}
@font-face {
  font-family: 'Noto900';
  font-display: fallback;
  src: url('../fonts/noto-sans-kr-v25-korean-900.woff') format('woff');
  font-style: normal;
}
@font-face {
  font-family: 'NotoRegular';
  font-display: fallback;
  src: url('../fonts/noto-sans-kr-v25-korean-regular.woff') format('woff');
  font-style: normal;
}
