@import "./font.css";


.gridContainer {
    width: 100%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-size: cover;
    padding-left: 20px;

}

.titleStyle {
    font-family: "NotoSansKr-Medium";
    font-size: 40px;
}

.overViewStyle {
    font-family: "NotoSansKr-Thin";
    font-size: 20px;
    width: 500px;
}

.wrapper {
    display: block;
}

.blank { 
    height: 80px;
}

.blank2 { 
    height: 250px;
}