@import './font.css';

.body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 200px;
  margin: auto;
  min-height: 100vh;
  font-family: 'NotoSansKr-Thin';
}
.input {
  margin-top: 20px;
}

.inputStyle {
  width: 100%;
  flex-direction: row;
  flex-wrap: wrap;
  border: none;
  background-color: transparent;
  border-bottom: 1px grey solid;
  color: white;
}

.inputStyle:focus {
  outline: none;
  background-color: transparent;
}

.login {
  width: 100%;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.loginBtn {
  width: 100%;
  border-radius: 3%;
  margin-top: 10px;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
}
