@import './font.css';

.body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: 'NotoSansKr-Thin';
}

.inputStyle {
  margin-right: 20px;
  width: 300px;
  border: none;
  background-color: transparent;
  border-bottom: 1px grey solid;
  color: white;
}

.inputStyle:focus {
  outline: none;
  background-color: transparent;
}

.login {
}

.loginBtn {
  width: 80px;
  background-color: whitesmoke;
  border-radius: 10%;
  color: black;
  padding: 10px 0;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
}
