@import './font.css';

.flexContainer {
  display: flex;
  flex-direction: column;
  height: 80vh;
  width: 100vw;
  align-items: center;
  justify-content: center;
}

.blank {
  height: 80px;
}

.title {
  display: block;
  font-size: 40px;
  font-family: 'NotoSansKr-Medium';
  padding: 30px 0 0 30px;
}

.gridContainer {
  display: grid;
  grid-template-rows: 3fr 1fr 1fr;
  width: 600px;
  height: 600px;
  padding: 0px 30px;
  justify-items: center;
  align-items: center;
  background-color: #141414;
  border-radius: 10px;
  font-family: 'NotoSansKr-Thin';
}

.gridContainer div:nth-child(1) {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.gridContainer label {
  padding: 15px 0px;
}

.gridContainer div:nth-child(3) {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}

.inputStyle {
  width: 400px;
  height: 60px;
  background-color: black;
  color: white;
  border: none;
  font-size: 25px;
}

.inputStyle:focus {
  outline: #808080 solid 1px;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 1000px black inset;
  -webkit-text-fill-color: #fff !important;
  font-size: 25px !important;
}


.gridContainer button {
  background-color: #808080;
  color: white;
  width: 400px;
  height: 60px;
  border-radius: 10px;
  

}

.gridContainer button:hover {
  background-color: white;
  color: #808080;
  transition: all 0.3s;
}

.spanLink,
.spanLink:hover,
.spanLink:focus{
  text-decoration: none;
  color: white;
  cursor: pointer;
}