@import url(./font.css);

/*메뉴바 전체 스타일*/
.MenuBarStyle {
    width: 100%;
    height: 80px;
    background-color: rgb(160, 160, 160, 0.7);
    position: fixed;
    font-family: "NotoSansKr-Bold";
    font-size: x-large;
    z-index: 10;

    display: grid;
    grid-template-columns:
    repeat(8, minmax(max-content, 1fr));
    justify-items: center;
    align-items: center;
}

/*로그인, 회원가입 메뉴 스타일*/
.MenuEtcStyle {
    width: 100%;
    font-family: "NotoSansKr-thin";
    font-size: medium;
    
    display: grid;
    grid-template-columns: repeat(2, minmax(max-content, 1fr));
    justify-items: center;
}

/*메뉴 링크 텍스트 스타일*/
.LinkStyle, .LinkStyle:focus, .LinkStyle:hover {
    text-decoration: none;
    color: white;
}

/* 검색창*/
.SearchBarStyle {
    position: relative;
}

.SearchBarStyle input {
    border: none;
    border-radius: 15px;
}

.SearchBarStyle i{
    position: absolute;
    right: 10px;
    top: 8px;
    color: black;
    cursor: pointer;
}

