@import "./font.css";

.blank {
    height: 80px;
}

.background {
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-position: center center;
    display: grid;
    flex-direction: column;
    justify-items: center;
    grid-auto-rows: 1fr;
}

.reviewBox {
    width : 70%;
    background-color: #212529;
    display: grid;
    grid-template-rows: minmax(max-content, 3fr) 1fr;
    margin-bottom: 20px;
    border-radius: 10px;
    padding: 5px;

}

.id, .eval, .reviewBody {
    margin : 5px;
}

.id {
    font-family: 'NotoSansKr-Medium';
}

.eval {
    font-family: 'NotoSansKr-Thin';

}

.reviewBody {
    font-family: 'NotoSansKr-Thin';

}

.gridContainer {
    display: grid;
    grid-auto-flow: column;
    border-top: white 1px solid;
    padding: 8px;
    font-family: 'NotoSansKr-Thin';
}

.like, .comment {
    display: flex;
    justify-content: center;
    align-items: center;
}

.like {
    border-right: white 1px solid;
}

.writeBtn {
    cursor: pointer;
    position : fixed;
    font-size: 100px;
    bottom: 10px;
    right: 50px;
}

.writeBtn :hover {
    transform : scale(1.1);
}

i {
    margin-right: 5px;
}

.overlay {
    position: fixed;
    width : 100vw;
    height: 120vh;
    background-color: rgba(0,0,0,0.6);
    z-index: 10;
}

.writeBox {
    position: absolute;
    width : 650px;
    height : 85vh;
    background-color: #212529;
    z-Index : 20;
    margin-top: 90px;
    border-radius: 10px;
    display: grid;
    grid-template-rows: 1fr 1fr minmax(max-content, 3fr);
    justify-items: center;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
}

.formBox {
    width : 100%;
    height: 100%;
    display: grid;
    grid-template-rows: repeat(3, minmax(max-content, 1fr));
    justify-items: center;
    align-items: center;
}

.rate {
    display: inline-block;
    border: 0;
    direction: rtl;
}

.rate input[type=radio]{
    display: none;
}
.rate label{
    font-size: 40px;
    color: transparent;
    text-shadow: 0 0 0 #f0f0f0;
}

.rate label:hover{
    text-shadow: 0 0 0 #FFC83D;
}

.rate input[type=radio]:checked ~ label{
    text-shadow: 0 0 0 #FFC83D;
}

.write {
    width: 80%;
    height: 100%;
}

.write input[type="text"]{
    padding-left : 10px;
    width : 100%;
    height: 100%;
    border: none;
    border-radius: 10px;
    color:white;
    font-family: 'NotoSansKr-Thin';
    background-color: grey;
    opacity: 0.7;
}

.write input:focus {
    outline: none;
    background-color: grey;
    opacity: 1;
}


.write input::placeholder, .write input::-webkit-input-placeholder
 {
    color: white;
    font-family: 'NotoSansKr-Thin';
}

.write input:-ms-input-placeholder {
    color: white;
    font-family: 'NotoSansKr-Thin';
}

.posterBox {
    width: 100%;
    border-bottom: rgb(255, 255, 255, 0.7) 1px solid;
    display: flex;
    justify-content: center;
    padding-bottom: 40px;
}

.poster {
    width: 200px;
    height: 300px;
    justify-self: center;
    align-self: center;
    background-size: 100% 100%;
    background-position: center center;
    background-color: white;
    border-radius: 10px;
}

.how {
    font-size: 30px;
    font-family: 'NotoSansKr-Medium';
}

.noReview {
    font-family: 'NotoSansKr-Thin';
}