@import url(./font.css);

.blank {
  height: 80px;
}

.gridContainer {
  height: 100vh;
  display: grid;
  grid-template-rows: repeat(2, max-content);
  justify-items: center;
  align-items: center;
}

.title {
  display: flex;
  align-items: center;
  font-size: 30px;
  font-family: 'NotoSansKR-Thin';
  margin-top: 30px;
}

.mainText,
.searchBar {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 35px;
  margin-top: 30px;
}

.mainText {
  font-family: 'NotoSansKR-Thin';
}

.searchBar {
  position: relative;
}

.searchBar input {
  padding-left: 60px;
  border: none;
  border-radius: 30px;
  width: 100%;
  font-family: 'NotoSansKR-Thin';
}

.searchBar input:focus {
  outline: none;
}

.searchBar i {
  font-size: 35px;
  z-index: 10;
  position: absolute;
  color: #707070;
  left: 20px;
}

.result {
  margin-top: 50px;
  margin-bottom: 50px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px 20px;
}
