@import '../css/font.css';

h2 {
    padding-left: 10px;
    padding-bottom: 10px;
    cursor: pointer;
    font-family: 'NotoSansKr-thin';
}

.gridContainer {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 10px;
    position: absolute;
}

.contentBox {
    height: 200px;
    background-color: white;
    background-size: cover;
    background-position: center center;
    margin-bottom: 10px;
}

.contentBox:hover {
    opacity: 0.5;
    transition: opacity 0.2s linear;
}

.wrapper {
    display: block;
}
