@import "../css/font.css";

.wrapper {
  display: grid;
}

.blank {
  height: 80px;
}

.gridContainer,
.gridContainer2 {
  display: grid;
  grid-auto-flow: column;
  color: white;
}

.gridContainer {
  width: 50vw;
  justify-self: center;
  text-align: center;
  grid-template-columns: repeat(5, minmax(max-content, 1fr));
  justify-items: center;
  margin: 50px 0 50px 0;
}

.gridContainer div {
  background-color: white;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  cursor: pointer;
}

.Netflix {
  background-size: 110%;
  background-position: center center;
  background-image: url(../images/Netflix.png);
}

.Wave {
  background-size: 110%;
  background-position: center center;
  background-image: url(../images/Wave.png);
}

.Disney {
  background-size: 110%;
  background-position: center center;
  background-image: url(../images/Disney.png);
}

.Tiving {
  background-size: 110%;
  background-position: center center;
  background-image: url(../images/Tiving.png);
}

.Whatcha {
  background-size: 110%;
  background-position: center center;
  background-image: url(../images/Whatcha.png);
}


.gridContainer2 {
  width: 50vw;
  height: 50px;
  justify-self: center;
  border-radius: 10px;
  background-color: #707070;
}

.gridContainer2 div {
  width: 100%;
  height: 100%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.clicked,
.clicked2,
.clicked3 {
  background-color: white;
  color: #707070;
}

.clicked {
  border-radius: 10px 0 0 10px;
}

.clicked2 {
  background-color: white;
  color: #707070;
}

.clicked3 {
  border-radius: 0 10px 10px 0;
}

.gridContainer2 div:nth-child(2) {
  border-left: 1px white solid;
  border-right: 1px white solid;
}

.gridContainer3 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px 20px;
  margin-top: 50px;
  margin-bottom: 50px;
  justify-items: center;
  justify-self: center;
}

.box {
  width: 200px;
  height: 300px;
  background-size: 100% 100%;
  background-position: center center;
  justify-self: center;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
  opacity: 0.7;
  border: #707070 solid 0.1px;
}

.box:hover {
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
  transform: translateY(-15px);
  opacity: 1;
}

